
<div class="card">
	<div class="carditem-top">
		<h2>Learn CAD</h2>
	</div>
	<div class="carditem">	
		<div class="carditem" >
			<div class="sidebyside">
				<div class="left">
					<h1> Broad Functions of CAD</h1>
					<p>
						Computer-aided design is a way to digitally create 2D drawings and 3D models of real-world 
						products and machines—before they're ever manufactured. CAD can also be used to design individual 
						custom parts for robots and other innovations. With 3D CAD, you can share, model, simulate, and 
						modify designs easily, 
						opening doors to innovative and differentiated products that solve real world problems.

					</p>
				</div>
				<div class="right">
					<div class="carditem-top">
						<h2>Images</h2>
					</div>
					<div class="carditem subcard">
						<div class="cont">
							<img src="images/img.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card">
	<div class="carditem-top">
		<h2>3D-Printing</h2>
	</div>
	<div class="carditem">
		<div class="sidebyside">
			<div class="left">
				<p>Things</p>
			</div>
			<div class="right">
				<p>Thing 2 stuff</p>
			</div>
		</div>
	</div>
</div>




@code {

}
