
<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
<div class="card">
	<div class="carditem-top">
		<h2>Learn CAD</h2>
	</div>
		<div class="carditem" >
			<div class="sidebyside">
				<div class="left">
					<h1> Broad Functions of CAD</h1>
					<p>
						Computer-aided design is a way to digitally create 2D drawings and 3D models of real-world 
						products and machines before they're ever manufactured. In our use case, CAD can be used to design individual 
						custom parts for robots and other innovations. 
					</p>
					<p>
						With 3D CAD, you can share, model, simulate, and modify designs easily,
						opening doors to innovative and differentiated products that solve real world problems.
					</p>

					<h1>Tips and tricks with CAD</h1>
					<div class="lst">
						<h3>How to start with CAD.</h3>
						<ul>
							<li>Search for softwere based on the needs of your project.</li>
							<li>Search online for a tutorial once you choose your software.</li>
						</ul>
						<h3>How to save materials with CAD</h3>
						<ul>
							<li>Add holes/pocketing in areas you can afford to have a weakend part.</li>
							<li>Decrease infill(how much of the inner material is air) to save material.</li>
						</ul>
						<h3>How to make parts stronger in CAD</h3>
						<ul>
							<li>Round the edges of your parts.</li>
							<li>Make your parts thicker.</li>
						</ul>
					</div>
					<h1>Software you can use</h1>
					<ul>
						<li class="lk"><a href="https://www.solidworks.com/" target="_blank">Solidworks</a></li>
						<li class="lk"><a href="https://www.onshape.com/en/" target="_blank">OnShape</a></li>
						<li class="lk"><a href="https://www.autodesk.com/" target="_blank">Autodesk</a></li>
					</ul>
				</div>
				<div class="right">
					<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.2)">
					<div class="carditem-top">
						<h2>Images</h2>
					</div>
					<div class="carditem subcard">
						<div class="cont">
							<img src="images/img.png" />
						</div>
					</div>
					</Animate>
				</div>	
			</div>
		</div>
</div>
</Animate>

<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
<div class="card">
	<div class="carditem-top">
		<h2>3D-Printing</h2>
	</div>
	<div class="carditem">
		<div class="sidebyside">
			<div class="left">
				<h1>What is 3D Printing?</h1>
					<p>3D Printing is an additive manufacturing process involving the stacking of precisely made layers of plastic, or other material. 
						3D printing can be used to make almost anything you can imagine (within reason, of course.).
						</p>
						<h1>What is 3D Printing used for?</h1>
					<p>
						3D Printing can be used for anything from small models, to replacement parts, and even entire projects. In robotics, we use 3D Printing to 
						print many parts of our robot, from complex mounts, and carriers to large belt and pulley systems. 
					</p>
					<p>3D Printing can truly be used to create almost anything you can imagine. </p>

					<h1>How 3D printing helps people</h1>
					<p>
						3D Printing is used to solve a variety of issues in our modern world. As an example,
						3D Printing has been used to 3D Print facemasks during the Covid-19 pandemic. In addition
						3D Printing can be used for sustainability, and economic growth.
					</p>

					<h1>Tips and tricks with 3D Printing</h1>
					<div class="lst">
						<h3>How to buy a 3D Printer</h3>
						<ul>
							<li>Do your research on 3D Printers, and make you sure you understand the concepts (and be prepared to tinker with it, there is no such thing as plug & play).</li>
							<li>When searching for a 3D Printer, you want to look at your options closely. Do your research before you make any decision. </li>
							<li>Don't g'</li>
						</ul>
						<h3>How to make 3D prints strong</h3>
						<ul>
							<li>Make the parts you want to be strong thicker in CAD.</li>
							<li>Increase the print's infill</li>
						</ul>
					</div>


			</div>
			<div class="right">
				<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.2)">
				<div class="carditem-top">
					<h1>Images</h1>
				</div>


				<div class="carditem subcard">
					<div class="sidebyside">
						<div class="left">
						
							<div class="smallcard-top">
								<h1>Creality Ender 3 ($189.99)</h1>
							</div>
							<div class="smallcard ci">
								<img src="images/ender.png" />
							</div>
						</div>

						<div class="right">
						
							<div class="smallcard-top">
								<h1>Prusa i3 mk3 ($949.99)</h1>
							</div>
							<div class="smallcard ci" tag="ss">
								<img src="images/prusa.png" />
							</div>
							
						</div>
					</div>
				</div>
				</Animate>
			</div>
		</div>
	</div>
</div>
</Animate>



@code {

}
