h1, p {
	font-family: Nunito, sans-serif;
}
p {
	font-size: 22px;
	font-weight: normal;
	color: rgb(202, 202, 202)
}
h1 {
	font-weight: bold;
	font-size: 32px;
	margin-top:4%;
}

.card {
	margin-top: 3%;
	font-weight: bold;
	background-color: rgb(128, 128, 128, 0.00)
}
h2 {
	font-size: 40px;
}
h3 {
	margin-top: 2%;
	font-size: 24px;
	color: rgb(202, 202, 202);
	font-weight: bold;
}
.lk {
	font-size: 24px;
}

.lk a {
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
	color: rgb(202, 202, 202);
	transition: all 0.3s ease 0s;
}
.lk a:hover {
	color:white;
}
.lst {
	color: rgb(202, 202, 202);
	text-decoration: none;
	font-weight: normal;
	font-size: 22px
}
.carditem-top {

	border: none;

	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	padding-bottom: 1px;
	padding: 5px 25px;
	padding-top: 5px;
	padding-bottom: 1px;
	background-color: rgb(65, 65, 65, 0.9);
}
.carditem {

	border: none;

	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	padding: 2% 1%;
	background-color: rgb(46, 46, 46);
}


.sidebyside {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	gap: 10px;
	opacity: 0.9;
}

.left {
	grid-column: 1;
	grid-row: 1;
}
.right {
	grid-column: 2;
	grid-row: 1;
}

.subcard {
	margin-left: 2%;
	margin-right: 2%;
	border: none;
	background-color: rgb(55, 55, 55, 0.90);
	margin: auto;
}

.cont {
	display: block;
	align-items: center;
	block-size: contain;
	padding-left: 3%;
	padding-right: 3%;
}
	.cont img {
		margin-top: 3%;
		width: 100%;
		border-radius: 18px;
		block-size: fit-content;
		border-width: 5px;
		border-style: outset;
		border-color: rgba(202, 202, 202,0);
		transition: all 0.3s ease 0s;
	}
		.cont img:hover {
			border-style: outset;
			border-color: rgb(202, 202, 202);
		}

.carditem img {
	width: 100%;
	margin: auto;
}


