/* _content/Hackathon 2/Shared/Docs/CadPage.razor.rz.scp.css */
h1[b-z0zg5ka0e0], p[b-z0zg5ka0e0] {
	font-family: Nunito, sans-serif;
}
p[b-z0zg5ka0e0] {
	font-size: 22px;
	font-weight: normal;
	color: rgb(202, 202, 202)
}
h1[b-z0zg5ka0e0] {
	font-weight: bold;
	font-size: 32px;
	margin-top:4%;
}

.card[b-z0zg5ka0e0] {
	margin-top: 3%;
	font-weight: bold;
	background-color: rgb(128, 128, 128, 0.00)
}
h2[b-z0zg5ka0e0] {
	font-size: 40px;
}
h3[b-z0zg5ka0e0] {
	margin-top: 2%;
	font-size: 24px;
	color: rgb(202, 202, 202);
	font-weight: bold;
}
.lk[b-z0zg5ka0e0] {
	font-size: 24px;
}

.lk a[b-z0zg5ka0e0] {
	font-weight: normal;
	text-decoration: none;
	font-size: 24px;
	color: rgb(202, 202, 202);
	transition: all 0.3s ease 0s;
}
.lk a:hover[b-z0zg5ka0e0] {
	color:white;
}
.lst[b-z0zg5ka0e0] {
	color: rgb(202, 202, 202);
	text-decoration: none;
	font-weight: normal;
	font-size: 22px
}
.carditem-top[b-z0zg5ka0e0] {

	border: none;

	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	padding-bottom: 1px;
	padding: 5px 25px;
	padding-top: 5px;
	padding-bottom: 1px;
	background-color: rgb(65, 65, 65, 0.9);
}
.carditem[b-z0zg5ka0e0] {

	border: none;

	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	padding: 2% 1%;
	background-color: rgb(46, 46, 46);
}


.sidebyside[b-z0zg5ka0e0] {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	gap: 10px;
	opacity: 0.9;
}

.left[b-z0zg5ka0e0] {
	grid-column: 1;
	grid-row: 1;
}
.right[b-z0zg5ka0e0] {
	grid-column: 2;
	grid-row: 1;
}

.subcard[b-z0zg5ka0e0] {
	margin-left: 2%;
	margin-right: 2%;
	border: none;
	background-color: rgb(55, 55, 55, 0.90);
	margin: auto;
}

.cont[b-z0zg5ka0e0] {
	display: block;
	align-items: center;
	block-size: contain;
	padding-left: 3%;
	padding-right: 3%;
}
	.cont img[b-z0zg5ka0e0] {
		margin-top: 3%;
		width: 100%;
		border-radius: 18px;
		block-size: fit-content;
		border-width: 5px;
		border-style: outset;
		border-color: rgba(202, 202, 202,0);
		transition: all 0.3s ease 0s;
	}
		.cont img:hover[b-z0zg5ka0e0] {
			border-style: outset;
			border-color: rgb(202, 202, 202);
		}

.carditem img[b-z0zg5ka0e0] {
	width: 100%;
	margin: auto;
}


/* _content/Hackathon 2/Shared/Footer.razor.rz.scp.css */
footer[b-fz61kcwbhj] {
    padding: 2%;
    align-items: center;
    background-color: rgb(46, 46, 46);
    width: 100%;
    
    text-align: center;
}

    footer a[b-fz61kcwbhj] {
        text-decoration: none;
        color: white;
    }
/* _content/Hackathon 2/Shared/Header.razor.rz.scp.css */
header[b-ino0ck0osp] {
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    padding: 3px 3%;
    
}
    header a[b-ino0ck0osp] {
        margin: auto;
        font-family: Monserrat, sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding: 6px 15px;
        margin: 1px;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease 0s;
    }

    header a:hover[b-ino0ck0osp] {
        border-radius: 18px;
        background-color: rgb(60, 60, 60)
    }

.thing[b-ino0ck0osp] {
    margin: auto;
    font-family: Monserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 15px;
    margin: 1px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .thing:hover[b-ino0ck0osp] {
        border-radius: 18px;
        background-color: rgb(60, 60, 60)
    }

.contact[b-ino0ck0osp] {
    background-color: rgb(51, 65, 216);
    border-radius: 18px;
    transition: all 0.3s ease 0s;
}

.contact:hover[b-ino0ck0osp] {
    background-color: white;
    color: black;
}

.icon img[b-ino0ck0osp] {
    width: 50px;
}

.middle[b-ino0ck0osp] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    align-content: center;
    opacity: 0.8;
    padding: 3px 9%;
}
/* _content/Hackathon 2/Shared/LandingPage.razor.rz.scp.css */
.main[b-recudxj0zr] {
	height: 100vh;
	font-family: "Montserrat-Alt1", sans-serif;
	font-weight: 700;
	font-size: 80px;
	color: white;
	padding: 0;
	align-items: center;
	text-align: center;
}

.logo[b-recudxj0zr] {
	width: 35%;
	align-items: center;
}

.text[b-recudxj0zr] {
	text-align: center;
}

em[b-recudxj0zr] {
	color: rgb(58, 115, 250);
	text-decoration: none;
}
/* _content/Hackathon 2/Shared/MainLayout.razor.rz.scp.css */
.background[b-6sm65tiqxr] {
    background: linear-gradient(rgba(46,46,46,1) 7%, rgba(71,71,71,1) 35%, rgba(63,69,131,1) 68%, rgba(51,65,215,1) 93%);
    width: 100%;
    padding: 6px 4px;
    padding-top: 5%;
    color: white;
}
