<header>
    <a href="" class="icon"><img src="images/robot.webp"></a>
    <div class="middle">
        <a href="About">About Us</a>
        <a href="Docs">Information</a>
        <a href="Awards">Awards</a>
        <a href="Forums">Forums</a>
    </div>
    <a href="/Contact" class="contact">Contact</a>
</header>

@code {

}
