<header>
    <a href="" class="icon"><img src="images/robot.webp"></a>
    <a href="About">About</a>
    <a href="Docs">Docs</a>
    <a href="Info">Info</a>
    <a href="Contact" class="contact">Contact</a>
</header>

@code {

}
