<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
<div class="main">
	<img class="logo" src="images/robot.webp"/>
	<p>How would <em>YOU</em> like to save the world?</p>
</div>
</Animate>

@code {

}
