@inherits LayoutComponentBase

<PageTitle>Website</PageTitle>

<div class="page">
    <Header />

    <main>
   
        <article class="content px-4 background">
            @Body
        </article>

    </main>

    <Footer />
</div>
