.main[b-recudxj0zr] {
	height: 100vh;
	font-family: "Montserrat-Alt1", sans-serif;
	font-weight: 700;
	font-size: 80px;
	color: white;
	padding: 0;
	align-items: center;
	text-align: center;
}

.logo[b-recudxj0zr] {
	width: 35%;
	align-items: center;
}

.text[b-recudxj0zr] {
	text-align: center;
}

em[b-recudxj0zr] {
	color: rgb(58, 115, 250);
	text-decoration: none;
}