.main[b-lt3wyi1v48] {
	height: 90vh;
	font-family: "Montserrat-Alt1", sans-serif;
	font-weight: 700;
	font-size: 100px;
	color: white;
	padding: 0;
	align-items: center;
	text-align: center;
}
.logo[b-lt3wyi1v48] {
	width: 35%;
	align-items: center;
}
.text[b-lt3wyi1v48] {
	text-align:center;
}