.background[b-6sm65tiqxr] {
    background: linear-gradient(rgba(46,46,46,1) 7%, rgba(71,71,71,1) 35%, rgba(63,69,131,1) 68%, rgba(51,65,215,1) 93%);
    width: 100%;
    padding: 6px 4px;
    padding-top: 5%;
    color: white;
}
