
<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
<div class="card">
	<div class="carditem-top">
		<h2>About us</h2>
	</div>

	<div class="carditem">
		<div class="sidebyside">
			<div class="left">
				<p>
					We are Trial N’ Error, an FTC Team from North Carolina, with ambitious intentions to make it to the FIRST World 
					Championships. Our teams over the past 3 seasons has recruited student members enrolled in local schools from Concord,
					NC: Cox Mill High , Harris Road Middle, J.N. Fries STEM Middle. Our uniqueness is that our team is not affiliated with any school,
					and is a privately funded project.
				</p>
				<p>
					Team had a modest beginning in April, 2019. Over the past 3 seasons, a few members have continued with the team. In 2020 - 2021, the Team members
					started a sister team, Trial N' Success. In past 3 years, about 40 students have experienced FIRST as a member of these teams.
				</p>

				<p>
					Our Coach, Raghu Gowdu, has been involved with FIRST since 2011. His core philosophy is have fun
					while learning and keep the design simple and predictable functioning of the Bot.
				</p>
				<p>
					Our team also strives to have a very organized positional structure system. We separate individuals on the team based on their skills and 
					place them into a job that fits their likes and their talents.
				</p>
				<p>
					Our team has worked with local middle schools students to introduce FIRST and recruit new members. In current season, half of the team members are in 
					middle school and participating in their first competition of this type.  
				</p>
				<p>
					We also work to keep loyal business partners to support us on our journey in the FIRST. Three of our top sponsors, 
					has been with us since 2019 - Rockwell Automation, Kummon, and RTTR .
				</p>
			</div>
			<div class="right">
				<img src="images/trialnerror.webp"/>
			</div>
		</div>

		<div class="sidebyside">
			<div class="left">
				<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
				<div class="carditem-top top-pad">
					<h1>People we help</h1>
				</div>
				<div class="carditem ctxt subcard">
					<p>
						We help our robotics team build the skills necessary to face the problems of the future and help us teach other students 
						how to take charge of our climate and society as well. Additionally, we hope to prove to current scientists, researchers,
						and engineers that the very solutions to their problems lie within the bright minds of the youth.
					</p>
				</div>
				</Animate>

				<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
				<div class="carditem-top top-pad">
					<h1>How this will help</h1>
				</div>
				<div class="carditem ctxt subcard">
					<p>
						This prepares future generations to solve prevalent climate and societal issues. If more students take
						interest in robotics and STEM it will make a positive effect on humanity.
					</p>
				</div>
				</Animate>

			</div>
			<div class="right">

				<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
				<div class="carditem-top top-pad">
					<h1>How we are making a difference</h1>
				</div>
				<div class="carditem ctxt subcard">
					<p>
						We have conducted exhibitions at churches, middle schools, and girl scout meetings to help captivate these future engineers. 
						Watching these childrens’ faces light up as they laugh at “Fuego the Dragon” is only surpassed by their look of wonder
						when I explain how they can build and design robots like him too.
					</p>
				</div>
				</Animate>

				<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0)">
				<div class="carditem-top top-pad">
					<h1>What we do to help</h1>
				</div>
				<div class="carditem ctxt subcard">
					<p>
						Our website and tutorials will give easy one place access to students 
						first learning the skills to innovate their own products to make an impact on the world. 
					</p>
				</div>
				</Animate>
			</div>
		</div>
	</div>
</div>
</Animate>


@code {

}
